@font-face{
    font-family: Ultra;
    src: url("../fonts/Ultra-Regular.ttf");
}

.font-frase{
    font-family: Ultra;
    font-size: 50px;
    color: #42D9C8;
}

.font-frase2{
    font-family: Ultra;
    font-size: 1.5rem;
    color: #42D9C8;
}