.container-register{
    background-image: url("https://images.squarespace-cdn.com/content/v1/56218741e4b0501d40634f99/1454786401027-RVRUAGWECQARRDXFCS5O/ke17ZwdGBToddI8pDm48kGw7Ux_z4LuNUDY0l3dmB35Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIfCnGOtTIx7BkDPa-1_dUrug-skB7ypWrV6ir-fsb8-MKMshLAGzx4R3EDFOm1kBS/LDWAD1.jpg");
    min-width: 100%;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-register{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;

}

.text-register2{
    color: #fff;
    font-size: 1rem;
}

form .btn-bg{
    background-color: #cf9b58;
    border: 1px solid #cf9b58;
}

form .btn-bg:hover{
    background-color: #865311;
    border: 1px solid #865311;
}

