body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    min-width: 100%;
}

.bg-nav{
    background-color: #931621;
}

div .btn-pag1{
    background-color: #2C8C99;
    border: #2C8C99;
    color: #fff;
}

div .btn-pag1:hover{
    background-color: #326771;
    border: #326771;
    color: #fff;
}


footer{
    color: #fff;
}

footer a{
    color: #2C8C99;
}

footer a:hover{
    color: #326771;
}

.fab{
    font-size: 2rem;
}